.rateHome .thumbnails > li{
	margin-left: 90px;
}

input.error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border-color: #b94a48 !important;
}

.rateHome .desc {
	min-height: 70px;
}

#formAdd select {
	width: 260px;
}

#formAdd input {
	width: 250px;
}

.smallPadding th, .smallPadding td{
	padding: 2px !important;
}

.slider .ui-slider-handle {
	margin-top: -10px;
}