.rateHome .thumbnails > li{
	margin-left: 90px;
}

input.error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border-color: #b94a48 !important;
}

.rateHome .desc {
	min-height: 70px;
}

#formAdd select {
	width: 260px;
}

#formAdd input {
	width: 250px;
}

.smallPadding th, .smallPadding td{
	padding: 2px !important;
}

.slider .ui-slider-handle {
	margin-top: -8px;
	background-image: url('../img/selector.png') !important	;
	background-position: bottom;
	background-color: transparent !important ;
	width: 17px !important ;
	height: 27px !important ;
	border: 0px !important ;
}

.slider {
	background-image: url('../img/gradian.png') !important	;
}

/*  */